@import orm.Tables.DefinitionitemRow
@(definition_items: List[DefinitionitemRow])

@main("List of definition items") {

    <h2>Previously inserted definition items:</h2>
    <table>
        <tr><th>Name</th><th>Color</th></tr>
        @for(d <- definition_items){
            <tr><td>@d.definedtermname</td><td>@d.definedtermdefinition</td></tr>
        }
    </table>
}
