@(occ: model.SKOSConceptOccurrence)
<SKOSConceptOccurrence>
    <iri>@occ.iri</iri>
    <text>@occ.text</text>
    <begin>@occ.begin</begin>
    <end>@occ.end</end>
    <language>@occ.language</language>
    <skos_concept_property>@occ.SKOS_concept_property</skos_concept_property>
</SKOSConceptOccurrence>